@media (max-width: 400px) {
    .card-img-top {
        height: 200px;
      }

  }

  .card-img-top {
    object-fit: cover;
    height: 400px;
  }

  .icon {
    cursor: pointer;
    margin-left: 5px;
  }
  
  .delete-icon {
    color: red;
  }
  
  .edit-icon {
    color: blue;
  }  